**/target/*
**/hs_err_pid*.log
build/
**/native-repo
.gradle

/runtime-*/

# ignore vs files
**/*.sln
**/.vs/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

# ignore eclipse files
**/.project
**/.classpath
**/.settings