.list-view {
	-fx-background-radius: 3;
	-fx-background-color: rgba(255,255,255,0.4);
}
.list-view .list-cell:even {
	-fx-background-color: rgba(255,255,255,0.6);
}
.list-view .list-cell:odd {
	-fx-background-color: rgba(220,220,220,0.6);
}
.list-view .list-cell:hover:empty,
.list-view .list-cell:empty {
	-fx-background-color: transparent;
}
.list-view .list-cell {
	-fx-cell-size: 32;
}

.list-view .list-cell:hover {
	-fx-background-color: darkgrey;
	-fx-text-fill: black;
}
.list-view .list-cell:selected {
	-fx-background-color: lightblue;
	-fx-text-fill: black;
}